<div class="registration-modal">
  <div class="modal-shadow" (click)="clickWrapper()"></div>
  <div class="modal-wrapper">
    <div class="modal-header">Todo の追加</div>

    <div>
      <form class="modal-content" [formGroup]="todoForm">
        <div class="content-item">
          <label class="item-label" for="">タイトル</label>
          <input class="item-input" formControlName="title" />
        </div>
        <div class="content-item">
          <label class="item-label" for="">説明</label>
          <input class="item-input" formControlName="description" />
        </div>
        <div class="content-item">
          <label class="item-label" for="">期日</label>
          <input class="item-input" formControlName="deadline" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="clickRegistrationButton()">登録</button>
    </div>
  </div>
</div>
