.registration-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.modal-wrapper {
  background-color: white;
  width: 600px;
  height: 240px;
  border-radius: 4px;
  z-index: 1;
}

.modal-header {
  height: 36px;
  line-height: 36px;
  border-bottom: solid 1px #ccc;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  align-items: center;
}

.content-item {
  display: flex;
  width: 400px;
  margin-bottom: 4px;
}

.item-label {
  width: 100px;
}

.item-input {
  flex: 1;
}
