.registration-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.modal-wrapper {
  position: relative;
  background-color: white;
  width: 600px;
  height: 240px;
  border-radius: 4px;
  z-index: 1;
}

.modal-header {
  height: 36px;
  line-height: 36px;
  border-bottom: solid 1px #ccc;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  align-items: center;
}

.content-item {
  display: flex;
  width: 500px;
  height: 28px;
  line-height: 28px;
  margin-bottom: 4px;
}

.item-label {
  width: 100px;
}

.item-title {
  flex: 1;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
}

.item-desc {
  flex: 1;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  font-size: 20px;
  max-height: 100px;
  outline: none;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: solid 1px #ccc;
  text-align: right;
}

.modal-primary-button {
  width: 100px;
  height: 36px;
  font-size: 16px;
  background-color: cornflowerblue;
  color: aliceblue;
  border: solid 1px #ccc;
  border-radius: 8px;
  margin-right: 8px;
}
