<div class="registration-modal">
  <div class="modal-shadow" (click)="clickWrapper()"></div>
  <div class="modal-wrapper">
    <div class="modal-header">Todo の追加</div>

    <div class="modal-content">
      <form [formGroup]="todoForm">
        <div>
          <label for="">タイトル</label>
          <input formControlName="title" />
        </div>
        <div>
          <label for="">説明</label>
          <input formControlName="description" />
        </div>
        <div>
          <label for="">期日</label>
          <input formControlName="deadline" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="clickRegistrationButton()">登録</button>
    </div>
  </div>
</div>
