.todo-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 16px;
  margin-left: 4px;
  margin-bottom: 4px;
}

.item-title {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-description {
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-deadline {
  text-align: right;
  margin-bottom: 8px;
}
