.todo-list {
  width: 400px;
}

.register-button {
  height: 36px;
  width: 120px;
  border: solid 1px;
  border-radius: 8px;
  font-size: 16px;
  background-color: cornflowerblue;
  color: aliceblue;
}
